.u-button {
    background-color: #FF49B2;
    box-shadow: 3px 3px #000;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    padding: 12px;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #FF7CC7;
        box-shadow: none;
    }
}
