.u-button {
    background-color: $color-primary;
    box-shadow: 3px 3px $black;
    display: inline-block;
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    padding: $spacing-small $spacing-large;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-primary-light;
        box-shadow: none;
        color: $grey-one;
    }

    @media (max-width: $breakpoint-desk) {
        display: block;
        text-align: center;
        width: 100%;
    }

}
