.u-button {
    background-color: #FF49B2;
    box-shadow: 3px 3px #000;
    font-family: 'Space Mono', monospace;
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: #ff7cc7;
        box-shadow: none;
    }

    @media (max-width: $breakpoint-desk) {
        display: block;
        text-align: center;
        width: 100%;
    }

}
