$color-primary: #32127A;
$color-secondary: #FF7CC7;
$color-tertiary: #FF49B2;
$color-quaternary: #170837;
$color-white: #ffffff;

body {
    background-color: $color-primary;
    color: $color-white;
}
