$color-primary: #FF49B2;
$color-primary-light: #FF7CC7;

$grey-one: #424242;
$grey-two: #303030;
$grey-three: #212121;

$white: #FFFFFF;
$black: #000000;

body {
    background-color: $grey-two;
    color: $white;
}

.u-color-primary {
    color: $color-primary;
}
