@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    src: local('Space Mono'),
        url('~assets/fonts/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-display: swap;
    font-family: 'Space Mono';
    src: local('Space Mono'),
        url('~assets/fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Space Mono', monospace;
}

.u-text--small {
    font-size: 14px;
}

.u-text--base {
    font-size: 16px;
}

.u-text--large {
    font-size: 32px;
    letter-spacing: .5px;
}
