.u-form {

    &__input-group {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-desk) {
            flex-direction: row;

            & > :not(:first-child) {
                padding-left: 2.4rem;
            }

        }

    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__input {
        background-color: $grey-three;
        border: none;
        color: $white;
        font-family: 'Space Mono', monospace;
        font-size: 1.6rem;
        padding: .6rem;
    }

}
