// VUE TRANSITIONS

.fade-enter{
    opacity: 0;
}

.fade-enter-active{
    transition: opacity .3s;
}

.fade-leave{
    opacity: 1;
}

.fade-leave-active{
    transition: opacity .3s;
    opacity: 0;
}

// CSS ANIMATIONS

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
